/* contact tab CSS */

#contact-container1-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-container1 {
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 25vw;
}

.contact-hr {
  margin: 5vh 0 5vh 0;
}

#wrapper1,
#wrapper2,
#wrapper3,
#wrapper5,
#wrapper6,
#wrapper7,
#wrapper8,
#wrapper9 {
  display: flex;
  justify-content: center;
}

#hours {
  height: 45px;
  width: 45px;
}

#phone {
  height: 38px;
  width: 38px;
  margin-right: 2vw;
}

#email {
  margin-right: 2vw;
}

#wrapper9>img {
  margin: 0 2vw 0 2vw;
}

#wrapper41,
#wrapper42,
#wrapper43,
#wrapper44,
#wrapper45,
#wrapper46,
#wrapper47 {
  display: flex;
  justify-content: space-between;
}

#wrapper41>p,
#wrapper42>p,
#wrapper43>p,
#wrapper44>p,
#wrapper45>p,
#wrapper46>p,
#wrapper47>p {
  margin-left: 10%;
  margin-right: 10%;
}

img {
  height: 50px;
  width: 50px;
}