/* Home tab CSS */

#home-container1-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

#home-restaurant-name {
  font-size: 25vh;
  margin: 0;
  color: var(--text1);
  font-family: 'Babylonica';
}

#slogan-container {
  display: flex;
  justify-content: center;
}

#slogan {
  font-size: 8vh;
  margin: 0;
  color: var(--text1);
  font-family: 'Allura';
}
